.parent-div {
  width:324px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

mat-form-field {
  display: block;
}

mat-error {
  font-size: small;
  margin-bottom: 15px;
}

.login-toolbar-heading {
  align-items: center;
  justify-content: center;
}

.login-button{
  width: 305px !important;
  min-width: unset!important;
}

.login-img-wrap {
  position: relative;
}

.login-img-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  background-image: url('../../../assets/images/map-bg.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.login-img-content {
  position: relative;
}

.jmp {
  position: absolute;
  width: 100%;
  background: #1d69b4;
  color:#fff;
}
